.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.red-team {
  color: #ff2100;
}

.blue-team {
  color: #2151ff;
}

.main-message {
  text-align: center;
  font-size: 2em;
  margin: 0 0 10px 0;
}

.message {
  text-align: center;
  font-size: 1.4em;
  margin: 0 0 10px 0;
}

.btn-square-shadow {
  display: inline-block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  border-bottom: solid 8px #300f00;
  border-radius: 50%;
  font-size: 6em;
  margin-bottom: 20px;
  transition: background 0.3s;
}

.red-team_btn {
  background: #ff2100;
}
.red-team_btn:hover {
  background: #ff2100;
}
.red-team_btn.active {
  background: #cc1a00;
}

.blue-team_btn {
  background: #2151ff;
}
.blue-team_btn:hover {
  background: #2151ff;
}
.blue-team_btn.active {
  background: #1a40cc;
}

.btn-square-shadow:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

p {
  margin: 0;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff8400;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.back-button:hover {
  background-color: #e07400;
}