{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>total</title>
    <link rel="stylesheet" href="{% static 'css/total.css' %}">
    <script src="{% static 'js/total.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="team r">
            <p>赤</p>
            <div class="pt">
                <p id="r_pt">0</p>
                <p>pt</p>
            </div>
            <div class="squat hide">
                <p class="username" id="r_name"></p>
                <div class="counter">
                    <p class="squat_count" id="r_cnt">0</p>
                    <p>回</p>
                </div>
            </div>
            <button id="ch">計測</button>
            <button id="inc_count" class="hide">スクワット</button>
        </div>
        
        <div class="team w">
            <p>白</p>
            <div class="pt">
                <p id="b_pt">0</p>
                <p>pt</p>
            </div>
            <div class="squat hide">
                <p class="username" id="b_name"></p>
                <div class="counter">
                    <p class="squat_count" id="w_cnt">0</p>
                    <p>回</p>
                </div>
            </div>
            <button id="ch_w">計測</button>
            <button id="inc_count" class="hide">スクワット</button>
        </div>
    </div>
</body>
</html>