/* html {
    height: 100%;
}

body { 
    height: 100%;
    margin: 0;
    display: flex;

} */

.container {
    display: flex;
    border: 1px;
    width: 90%;
    height: 90%;
    margin: auto;

}

.team {
    display: flex;
    border-left: 1px solid #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    font-size: 300%;
}
.team:first-child {
    border-left: none;
}


.pt {
    display: flex;
}
.hide {
    display: none;
}
.counter {
    display: flex;
    justify-content: center;
}

button {
    position: absolute;
    bottom: 10px;
}