.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.home {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mydata,
.teamdata {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.buttons {
    width: 100%;
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button-red {
    background-color: #ff4d4d;
    color: white;
}

.button-blue {
    background-color: #4d94ff;
    color: white;
}

.button-red:hover {
    background-color: #ff6666;
}

.button-blue:hover {
    background-color: #6699ff;
}

.QRmodal {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.QRcontent {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.QRcontent img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .form {
    display: grid;
    gap: 10px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal .form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ff8400;
    border-radius: 5px;
    font-size: 1em;
}

.modal .form .btnbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    margin: 5px 0 15px;
}

.modal .form .btnbox button {
    padding: 10px 15px;
    border: 1px solid #ffac54;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.modal .form .btnbox button.selected {
    background-color: #ff8400;
    color: white;
}

button:hover {
    background-color: #ffac54;
}

.explain_exer {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}